<footer>
  <div>
    <h2>Questions?</h2>
    <a href="">Email: info@bach.com</a>
    <a href="">Phone: 023 - 222 1111</a>
    <p>We can be reached by phone on workdays from 09:30 to 12:30.</p>
  </div>
  <div>
    <p>Bach Society © 2022</p>
    <p>Website developed by Blanca Ley</p>
  </div>
</footer>
</body>
</html>