<%- include("header") %>
<header>
  <h1>International Classical Music Society</h1>
  <p>If you’re a lover of classical music, you’ve come to the right place. This is a club for classical music lovers. Music of the greatest composers of the classical, baroque and romantic eras.</p>
  <p>The International Classical Music Society exists to bring together people with a common interest in classical music. We arrange group visits to events including concerts, recitals, operas, and ballets, together with other social meetings.</p>
  <p>We welcome all who wish to join our friendly club. Interested in joining? <a href="/register"><button>Sign up</button></a></p>
</header>
<%- include("footer") %>