<%- include("header") %>

  <h1>Members List</h1>
 <ul>
    <% members.forEach(member => { %>
      <a href="/member/<%= member._id %>">
        <li>
          <%= member.name %>
        </li> 
      </a>
    <% }); %>
  </ul>
</body>
</html>