<%- include("../partials/header") %>

  <h1>Members List</h1>
  <button id="orderNameAsc">Name A–Z</button></a>
  <button id="orderNameDesc">Name Z–A</button></a>

 <ul>
    <% members.forEach(member => { %>
      <a href="/member/<%= member._id %>">
        <li>
          <%= member.name %>
        </li> 
      </a>
    <% }); %>
  </ul>
<%- include("../partials/footer") %>